.LoginForm, .Register {
    padding: 30px;
}
  
.LoginForm form {
    max-width: 320px;
    margin: 0 auto;
}

.Register form {
    max-width: 320px;
    margin: 0 auto;
}

.mainButton {
    width: 100%;
    font-size: 19px;
    margin-top: 5px;
}

.profileButton{
    margin-right: 10px;
}

h2 {
    text-align: center;
}

.Message {
    text-align: center;
    color: white;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 300px;
    margin-top: 10px;
    background-color:#353a40;
}

/* The width of the message box changed to 80% for screen width < 450px
    reference: https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
@media screen and (max-width: 450px) {
    .Message {
        width: 80%;
    }
}