.boxed {
    border: 1px solid #b4b9c0;
    border-radius: 10px;
    padding: 10px;
    max-width: 1000px;
    margin-bottom: 25px;
    color: #353a40;
}

#question {
    max-height: 160px;
    overflow-y: auto;
}

#title h3{
    font-weight: 600;
}

#content p{
    font-weight: 400;
}